html, body, .container{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

  }
.icon {

	margin-right: 7px;
}

.bigicon {
	width: 20%;
	margin-right: 10px;
}

h2 {
	color: white;
}
#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
  }